.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8vh;

  padding: 0px 50px;
  border-bottom: 1px solid var(--border-color);

  background-color: var(--bg-color);
  position: relative;
}

.menu h1 {
  color: var(--primary-font-color);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;
  gap: 5px;
}

.menu-list.active {
  width: 100%;
  height: 92vh;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: var(--bg-color);
  box-shadow: 0px 4px 8px var(--box-shadow-color);

  position: absolute;
  top: 100%;
  right: 0;

  z-index: 10;
  padding: 0 10px;
}

.menu-list.active li {
  width: 100%;
}

.menu-list li {
  display: inline;
}

.menu-list a,
.menu-list .theme-toggler,
.menu-toggle {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: var(--primary-font-color);
}

.menu-list.active a {
  display: block;
  width: 100%;
}

.menu-list a:hover,
.menu-list .theme-toggler:hover,
.menu-toggle:hover {
  background-color: var(--hover-color);
  color: var(--secondary-font-color);
}

.menu-list .theme-toggler,
.menu-toggle {
  cursor: pointer;
  background-color: var(--bg-color);
}

.menu-toggle {
  display: none;
  border: 1px solid var(--border-color);
}

.menu-toggle i {
  font-size: 20px;
}

@media (max-width: 1024px) {
  .menu {
    padding: 20px;
  }

  .menu-list {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
