.favorites-hotel-list {
  padding: 50px;
}

.favorites-hotel-list h2 {
  margin-bottom: 20px;
  color: var(--primary-font-color);
}

.favorite-hotels {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 1024px) {
  .favorites-hotel-list {
    padding: 20px;
  }

  .hotel-card {
    width: 100%;
  }
}
