.favorites-hotel-list {
  padding: 50px;
}

.favorites-hotel-list h2 {
  margin-bottom: 20px;
  color: var(--primary-font-color);
}

.favorite-hotels {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.favorite-hotels .not-found-container {
  width: 100%;
}
