.hotel-details .hotel-description {
  margin-bottom: 20px;
  font-size: 18px;
}

.hotel-details {
  width: 100%;
  height: 92vh;
  position: relative;
}

.hotel-details .hotel-image {
  width: 100%;
  height: 90vh;
  border-radius: 4px;
  object-fit: cover;
}

.hotel-details .hotel-info {
  position: absolute;
  bottom: 0;

  width: 100%;
  background: linear-gradient(to top, black, black, rgba(0, 0, 0, 0));
  color: white;
  padding: 50px;
}

.hotel-details .hotel-services {
  margin-top: 20px;
}

.hotel-details .hotel-services ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.hotel-details .hotel-services ul li {
  background-color: white;
  color: black;
  padding: 0px 15px;
  border-radius: 50px;
}

@media (max-width: 1024px) {
  .hotel-details .hotel-info {
    padding: 20px;
  }
}
