.hotel-container {
  background-color: var(--bg-color);
}

.form-container {
  padding: 50px;
  overflow: hidden;
}

.form-container h1 {
  margin-bottom: 30px;
  color: var(--primary-font-color);
}

.form-container .input-group {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.form-container .input-group label {
  width: 100%;
  color: var(--primary-font-color);
}

.form-container form input,
.form-container form textarea,
.form-container form select {
  width: 100%;
  height: 35px;
  padding: 0px 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline: none;
  background-color: var(--bg-color);
  color: var(--primary-font-color);
}

.form-container form textarea {
  height: 150px;
  padding: 10px;
  resize: vertical;
}

.form-container form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list-hotels-container {
  margin-top: 50px;
  overflow-x: auto;
}

.hotel-table {
  width: 100%;
  border-collapse: collapse;
}

.hotel-table th,
.hotel-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-font-color);
}

.hotel-table th {
  background-color: var(--bg-color);
  color: var(--primary-font-color);
}

.hotel-table-image {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

.edit-button,
.delete-button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  color: var(--secondary-font-color);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--primary-font-color);
}

@media (max-width: 1024px) {
  .form-container {
    padding: 20px;
  }

  .form-container h1 {
    font-size: 20px;
  }

  .form-container .input-group {
    flex-direction: column;
  }
}
